body {
    background-color: yellow;
}

.text-standout {
    text-shadow: 2px 2px black;
}

.flashes h4 {
    line-height: 2;
}

.profile-header {
    color: white;
    text-shadow: 1px 1px black;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
}

.profile-body {
    color: white;
    text-shadow: 1px 1px black;
    font-size: medium;
    font-weight: bold;
    justify-content: center;
}

.brand-title {
    color: white;
    text-shadow: 1px 1px black;
    font-size: large;
    font-weight: bold;
    padding: 0 0 0 1.2rem;
}

.brix-desc {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    margin: 0;
    line-height: 2.0rem;
    font-size: 1.2rem;
}

a.liker-icon {
    display: inline-block;
    height: 30px;
    width: 65px;
}

.card .card-stacked .card-action-custom {
    a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #D50000;
    transform: scale(1.4) rotate(-12deg);
    padding: 24px;
}

.row.valign-wrapper.center-align.searchbox {
    display: flexbox;
}

@media screen and (max-width: 600px) {
    .row.valign-wrapper.center-align.searchbox {
        display: block;
        background-color: purple;
    }    
}