body {
    background-color: yellow;
}

.text-standout {
    text-shadow: 2px 2px black;
}

.flashes h4 {
    line-height: 2;
}

.profile-header {
    color: white;
    text-shadow: 1px 1px black;
    font-size: x-large;
    font-weight: bold;
}

.profile-body {
    color: white;
    text-shadow: 1px 1px black;
    font-size: medium;
    font-weight: bold;
}