{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Brixicon Entry</h3>

    <div class="row card-panel red accent-4">
        <form class="col s12" method="POST" action="{{ url_for('add_brixical') }}">
            <!-- Header -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-heading prefix"></i>
                    <input id="brixword" name="brixword" type="text" class="validate" required>
                    <label for="brixword">Entry Name</label>
                </div>
            </div>
            <!-- definition -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-paragraph prefix"></i>
                    <textarea id="definition" name="definition" class="materialize-textarea" required></textarea>
                    <label for="definition">Definition</label>
                </div>
            </div>
            <!-- image url -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-image prefix"></i>
                    <input id="imageUrl" name="imageUrl" type="tel" class="validate" required>
                    <label for="imageUrl">Image Url</label>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large text-standout">
                        Add Entry <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}