{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">All Brixicon Entries</h3>

    <div class="row card-panel red accent-4">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align" id="searchbox">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" class="validate">
                    <label for="query">Search the Brixicon</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_brixicals') }}" class="yellow btn text-inverse">Reset</a>
                    <button type="submit" class="yellow btn text-inverse">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% for brixical in brixicals %}
        <div class="col s12 m7">
            <h4 class="header">{{ brixical.brixword }}</h4>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ brixical.imageUrl }}">
                    {% if session.user == "admin" %}
                        <a href="{{ url_for('edit_brixical', brixical_id=brixical._id) }}" class="btn-small yellow black-text">Edit</a>
                        <a href="{{ url_for('delete_brixical', brixical_id=brixical._id) }}" class="btn-small yellow black-text">Delete</a>
                    {% endif %}
                </div>
                <div class="card-stacked">
                    <div class="brix-desc">
                        <p>{{ brixical.definition }}</p>
                    </div>
                    <div class="card-action-custom">
                        <a href="{{ url_for('upvote_brixical', brixical_id=brixical._id, upvotes=brixical.upvotes) }}" class="liker-icon">&nbsp;&nbsp;<i class="fa-solid fa-2x fa-thumbs-up"> {{ brixical.upvotes }} </i></a>
                        <a href="{{ url_for('downvote_brixical', brixical_id=brixical._id, downvotes=brixical.downvotes) }}" class="liker-icon"><i class="fa-solid fa-2x fa-thumbs-down"> {{ brixical.downvotes }} </i></a>
                        <p>&nbsp;&nbsp;Added by {{ brixical.created_by }}</p>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
{% endblock %}
