{% extends "base.html" %}
{% block content %}

    {% for brixical in brixicals %}
        <div class="col s12 m7">
            <h4 class="header">{{ brixical.brixword }}</h4>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ brixical.imageUrl }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ brixical.definition }}</p>
                    </div>
                    <div class="card-action">
                        <i class="fa-solid fa-thumbs-up"> {{ brixical.upvotes }} </i>
                        <i class="fa-solid fa-thumbs-down"> {{ brixical.downvotes }} </i>
                        <p>Added by {{ brixical.created_by }}</p>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
{% endblock %}
