{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Profile</h3>

    <div class="row card-panel red accent-4 edit-box">
        <form class="col s12" method="POST" action="{{ url_for('edit_profile', username=username) }}">
            <!-- First Name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pencil prefix"></i>
                    <input id="fname" name="fname" type="text" 
                        value="{{ username.fname }}" class="validate" required>
                    <label for="fname">First Name</label>
                </div>
            </div>
            <!-- Last Name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pencil prefix"></i>
                    <input id="lname" name="lname" type="text"  
                        value="{{ username.lname }}" class="validate" required>
                    <label for="lname">Last Name</label>
                </div>
            </div>
            <!-- Email -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-at prefix"></i>
                    <input id="email" name="email" type="text" 
                        value="{{ username.email }}" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <!-- Country -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-earth-americas prefix"></i>
                    <input id="country" name="country" type="text"  
                        value="{{ username.country }}" class="validate" required>
                    <label for="country">Country</label>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- abort mission button -->
                    <a href="{{ url_for('view_profile', username=session['username']) }}" class="btn-large red text-standout">
                        Abort Editing Mission! <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large green text-standout">
                        Submit <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}