{% extends "base.html" %}
{% block content %}

    <div class="col s4 offset-s4 m6">
        <div class="card red accent-4">
            <div class="profile-header">
                {{ username.username }}'s Profile
            </div>
            <div class="card-content profile-body">
                <p>First Name: {{ username.fname }}</p>
                <p>Last Name: {{ username.lname }}</p>
                <p>Email: {{ username.email }}</p>
                <p>Country: {{ username.country }}</p>
            </div>
            <div class="card-action">
                <a href="#">Edit your profile.</a>>
            </div>
        </div>
    </div>
    
{% endblock %}