{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card red accent-4">
                <div class="card-content profile-header">
                    {{ username.username }}'s Profile
                </div>
            </div>
            <div class="card red accent-4">
                <div class="card-content profile-body">
                    <p>First Name: {{ username.fname }}</p>
                    <p>Last Name: {{ username.lname }}</p>
                    <p>Email: {{ username.email }}</p>
                    <p>Country: {{ username.country }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('edit_profile', username=" & {{ username.username }} & ") }}" class="btn-small yellow black-text">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}