{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card red accent-4">
                <div class="card-content profile-header">
                    {{ user.username }}'s Profile
                </div>
            </div>
            <div class="card red accent-4">
                <div class="card-content profile-body">
                    <p>First Name: {{ user.fname }}</p>
                    <p>Last Name: {{ user.lname }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p>Country: {{ user.country }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('edit_profile', user_id=user._id) }}" class="btn-small yellow black-text">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}